<!DOCTYPE html>
<html class="bg-zinc-50" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title inertia>{{ config('app.appName') }}</title>

  @viteReactRefresh()
  @inertiaHead()
  @vite([
    'app/core/ui/app/app.tsx', 
    `app/${page.component.split('/')[0]}/ui/pages/${page.component.split('/').splice(1)}.tsx`
  ])
</head>
<body class="antialiased h-full">
  @inertia()
</body>
</html>